.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Fundo {
  background-image: url('./img/fundo.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 100vh;
}

.Card{
  margin: auto;
  width: fit-content;
  justify-content: center;
  background-color: rgba(220, 53, 70, 0.5);
  padding: 3%;
  border: 1px solid;
  border-color: #dc3545;
  border-radius: 0.5em;
}

.Row{
  flex-direction: row;
}

.JustifyCenter{
  justify-content: center;
  margin: auto;
  display: flex;
  margin-bottom: 1%;
}
.NoteFoundMain{
  background-color: rgba(52, 58, 64, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.NotFound{
  color: white;
  font-size: 20em;
  justify-content: center;
  margin: auto;
  display: flex;
  text-align: center;
}

.NotFoundTxt{
  color: white;
  font-size: 2em;
  justify-content: center;
  margin: auto;
  display: flex;
  text-align: center;
}

@media (max-width: 600px){
  .NotFound{
    color: white;
    font-size: 5em;
    justify-content: center;
    margin: auto;
    display: flex;
    text-align: center;
  }
  
  .NotFoundTxt{
    color: white;
    font-size: 0.5em;
    justify-content: center;
    margin: auto;
    display: flex;
    text-align: center;
  }
}


/* The side navigation menu */
.Sidebar {
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: rgba(52, 58, 64, 1);
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.Sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.Sidebar a.active {
  background-color: #4CAF50;
  color: white;
}



/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .Sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .Sidebar a {float: left;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .Sidebar a {
    text-align: center;
    float: none;
  }
}

.FundoPgs {
  background-color: #b9babd;
  height: 100vh;
}

.InputText {
  width: 100vw;
  height: 100vh;
}

.LabelArquivo{
  background-color: white;
  font-weight: bold;
  padding: 0.5%;
  border: 1px solid;
  border-radius: 00.5em;
}

.BtnCadastro{
  background-color: white;
  font-weight: bold;
  padding: 0.5%;
  border: 1px solid;
  border-radius: 00.5em;
}

.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start
}

.A{
  text-decoration: none;
  color: white;

}

.A:hover{
  text-decoration: none;
  color: white;
}
